.daterangepicker .calendar-table,
.datepicker .datepicker-days,
.timepicker,
.datepicker .datepicker-months td {
  font-family: "Merriweather Sans", "Open Sans", "Arial", -apple-system,
    BlinkMacSystemFont, sans-serif;
}

.datepicker .datepicker-days .day.active,
.datepicker .datepicker-months .month.active,
.datepicker .datepicker-years .year.active {
  background-color: #286090;
}

.btn.picker-switch {
  margin-bottom: 8px;
}

.bootstrap-datetimepicker-widget .btn {
  border-radius: 8px !important;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.12);
}

/* date picker dropdown */
.ranges li {
  font-size: 14px;
  color: inherit;
  padding: 2px 12px;
}

.datepicker thead .switch,
.timepicker .timepicker-picker td {
  text-align: center;
}

.bootstrap-datetimepicker-widget {
  right: 15px !important;
}

.bootstrap-datetimepicker-widget.pull-right::after,
.bootstrap-datetimepicker-widget.pull-right::before {
  display: none;
}

.ranges li:hover,
.ranges li.active {
  background-color: #337ab7;
}

.btn-open-calendar {
  cursor: pointer;
}

.input-group.date .input-group-addon.btn-open-calendar {
  background-color: white;
}

.input-group.date .input-group-addon.btn-open-calendar.disabled,
.input-group.date .input-group-addon.btn-open-calendar.disabled span {
  cursor: default;
  background-color: #eee;
}

.input-group.date.has-error input.form-control {
  border-color: #e0b4b4;
  background-color: #fff6f6;
}

.input-group.date.has-error .input-group-addon.btn-open-calendar {
  border-color: #e0b4b4;
  color: black;
  background-color: #fff6f6;
}
